langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain_chroma
fastapi
uvicorn
langserve
sse-starlette
langchain
langchain_core
langchain_classic
streamlit
langchain_groq
fastapi
uvicorn
langserve
arxiv
wikipedia
langchain
langchainhub
langchain-openai
duckduckgo-search
ddgs
validators
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
pydantic==1.10.13
